:root {
  --text-color: rgba(0, 0, 0, 0.87);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  color: var(--text-color);
  font-size: 13px;
  background-color: #fff;
}

/* Basic Styles */
a {
  text-decoration: none;
  color: var(--text-color);
}

ul {
  list-style: none;
}

/* Navigation */
.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
}

.main-nav .left-section nav ul,
.main-nav .right-section nav ul {
  display: flex;
  align-items: center;
}

.main-nav .left-section nav ul li,
.main-nav .right-section nav ul li {
  display: inline-block;
  padding-left: 15px;
  padding-bottom: 0;
  margin-bottom: 0;
  word-spacing: 10px;
}

.left-section a:hover,
.right-section a:hover {
  text-decoration: underline;
}

.right-section .blocks i {
  font-size: 1.4rem;
  color: #737373;
}
