:root {
  --text-color: rgba(0, 0, 0, 0.87);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  color: var(--text-color);
  font-size: 13px;
  background-color: #fff;
}

/* Basic Styles */
a {
  text-decoration: none;
  color: var(--text-color);
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Navigation */
.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
}

.main-nav .left-section nav ul,
.main-nav .right-section nav ul {
  display: flex;
  align-items: center;
}

.main-nav .left-section nav ul li,
.main-nav .right-section nav ul li {
  display: inline-block;
  padding-left: 15px;
  padding-bottom: 0;
  margin-bottom: 0;
  word-spacing: 10px;
}

.left-section a:hover,
.right-section a:hover {
  text-decoration: underline;
}

.right-section .blocks i,
.right-section .user i {
  font-size: 1.4rem;
  color: #737373;
}

.right-section .user i {
  color: black;
  padding-right: 15px;
}

.right-section .blocks i:hover {
  color: black;
}

/* Main Section */
.main-section {
  height: 90vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
}

.main-section .image-container {
  max-width: 500px;
  margin-top: 30px;
}

.main-section .sub-section img {
  max-width: 42px;
}

.main-section .sub-section {
  display: flex;
}

.main-section .search-input {
  position: relative;
  width: 100%;
  max-width: 480px;
  margin-top: 1.5rem;
}

.main-section .search-input input {
  width: 100%;
  border: 1px solid #dfe1e5;
  border-radius: 25px;
  margin: 0 auto;
  height: 45px;
  padding: 0 50px;
}

.main-section .search-input input:focus,
.main-section .search-input input:hover {
  outline: none;
  border-color: rgba(223, 225, 229, 0);
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}

.icon-micro {
  position: absolute;
  top: 13px;
  right: 20px;
  font-size: 1.5rem;
}

.icon-search {
  position: absolute;
  top: 13px;
  left: 13px;
  font-size: 1.5rem;
}

.buttons-section {
  padding: 25px 0;
}

.btn {
  display: inline-block;
  padding: 10px 15px;
  background-color: #f2f2f2;
  margin: 5px 10px;
  text-align: center;
  border-radius: 5px;
}

.btn:hover {
  text-decoration: none;
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.main-section .sub-section {
  display: flex;
  align-items: center;
}

.main-section .sub-section img {
  margin-right: 5px;
}

.main-section .sub-section a {
  color: #1a0dab;
}

.main-section .sub-section a:hover {
  text-decoration: underline;
}

/* Footer */
#main-footer {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  padding: 10px;
  background-color: #f2f2f2;
}

#main-footer .footer-right nav ul,
#main-footer .footer-left nav ul {
  display: flex;
}

#main-footer .footer-right nav ul li,
#main-footer .footer-left nav ul li {
  padding-right: 20px;
}

#main-footer a {
  color: #5f6368;
}

/* Devices lower than 500px */
@media screen and (max-width: 500px) {
  #main-footer {
    flex-direction: column-reverse;
    align-items: center;
  }

  #main-footer .footer-right {
    margin-bottom: 2rem;
  }
}
